<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <!-- <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li> -->
    <li class="nav-design-development-creativity" role="menuitem"><a href="{{site.baseurl}}tag/design-development-creativity/">Design, Development, Creativity</a></li>
    <!-- <li class="nav-outsourcing-offshoring" role="menuitem"><a href="{{site.baseurl}}tag/outsourcing-offshoring/">Outsouring & Offshoring</a></li> -->
</ul>
